<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sensedia.api_platform_demo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sensedia Products"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.API_Platform_Demo">
        <activity
            android:name=".ProductInformation"
            android:parentActivityName=".ListOfProducts">
        </activity>

        <activity
            android:name=".ListOfProducts"
            android:parentActivityName=".Home">
        </activity>

        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>